@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --gold-rgb: 255, 215, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000000;
}
